@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#coming {
  max-width: 300px;
  margin: 30px auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color:rgba(0,0,0,0.4);
}



html { 
  background: url(https://source.unsplash.com/1600x900/?animals) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  text-align: center;
  padding: 15px 0;
  color:rgba(255, 255, 255, 0.8);
  max-width: 300px;
  margin: 0px auto;
}